[Unit]
Description=GStreamer capture from CSI camera
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStartPre=/usr/bin/rm -f /var/log/racksview/gstreamer-back.log
ExecStart=/opt/racksview/bin/gstreamer-service.sh --profile back
Restart=on-failure
RestartSec=55
StandardOutput=null
StandardError=file:/var/log/racksview/gstreamer-back.log
MemoryMax=100M
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
