[Unit]
Description=GStreamer capture from USB camera
After=network.target

[Service]
ExecStartPre=/usr/bin/rm -f /var/log/racksview/gstreamer-front.log
ExecStart=/opt/racksview/bin/gstreamer-service.sh --profile front
Restart=on-failure
RestartSec=60
StandardOutput=null
StandardError=file:/var/log/racksview/gstreamer-front.log
MemoryMax=100M
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
