[Unit]
Description=VRecorder Front Service
After=gstreamer-front.service
Requires=gstreamer-front.service

[Service]
Type=simple
ExecStart=/opt/racksview/bin/vrecorder-service.sh --profile front
Restart=on-failure
ExecStartPre=/usr/bin/rm -f /var/log/racksview/vrecoder-front.log
StandardOutput=file:/var/log/racksview/vrecorder-front.log
StandardError=file:/var/log/racksview/vrecorder-front.log

[Install]
WantedBy=multi-user.target