[Unit]
Description=VRecorder Back Service
After=gstreamer-back.service
Requires=gstreamer-back.service

[Service]
Type=simple
ExecStart=/opt/racksview/bin/vrecorder-service.sh --profile back
Restart=on-failure
ExecStartPre=/usr/bin/rm -f /var/log/racksview/vrecoder-back.log
StandardOutput=file:/var/log/racksview/vrecorder-back.log
StandardError=file:/var/log/racksview/vrecorder-back.log

[Install]
WantedBy=multi-user.target